.col-3{
    background-color: #ECF0F3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    flex: 0 0 15%;
    max-width: 15%;
}

.nav-link{
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.col-9{
    background-color: #D1E9F4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    padding: 48px 30px;
}

.resual{
    background-color: #D1E7DD;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    outline: none;
    padding: 5px 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin-right: 15px;
}